services:
  backend:
    build: ./backend
    volumes:
      - ./backend:/backend
    ports:
      - "8000:8000"
    command: bash -c "python /backend/manage.py runserver 0.0.0.0:8000"
    stop_signal: SIGINT